[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1"
django-configurations = "~=2.2"
graphene-django = "~=2.15"
python-paseto = "~=0.5"
cbor2 = "~=5.4"
whitenoise = "~=5.3"

[dev-packages]

[requires]
python_version = "3.9"
