{% extends "mails/base_email.html" %}
{% load url_utils %}

{% block content-header %}Your email address has been changed to {{ new_email_address }}{% endblock %}

{% block content-body %}
    {% if restore_token %}
        <a href="{% absolute_uri "/app/undoSetEmail?token="|add:restore_token %}">
            <button>Click Here to undo the change</button>
        </a>
        <p>Alternatively you can navigate to
            <a href="{% absolute_uri "/app/undoSetEmail" %}">{% absolute_uri "/app/undoSetEmail" %}</a>
            and enter the token <i>{{ restore_token }}</i></p>
    {% endif %}
{% endblock %}
