{% extends "mails/base_email.html" %}
{% load url_utils %}

{% block content-header %}You have requested to reset your password{% endblock %}

{% block content-body %}
    <p>
        Somebody has requested a password reset of the <i>{{ user.username }}</i> account. <br>
        If this was not you, you can ignore this email.
    </p>
    <p>
        If this was initiated by you and you want to complete your password reset, click the following button.
        <a href="{% absolute_uri "/app/resetPassword?token="|add:reset_token %}"><button>Reset password</button></a>
    </p>
{% endblock %}
