/* https://colordesigner.io/#468966-466989-1C2A37-2A2C2B-F2F5F8 */

@media (prefers-color-scheme: light) {
    html {
        --color-primary: rgb(70, 137, 102);
        --color-secondary: rgb(70, 105, 137);
        --color-secondary-alt: rgb(28, 42, 55);
        --color-foreground: rgb(42, 44, 43);
        --color-background: rgb(242, 245, 248);
    }

    .elevated {
        box-shadow: 0 0 16px 8px rgba(70, 137, 102, 0.05),   /* basically primary color */
            1px 1px 4px 1px rgb(42, 44, 43); /* basically foreground color */
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --color-primary: rgb(70, 137, 102);
        --color-secondary: rgb(70, 105, 137);
        --color-secondary-alt: rgb(28, 42, 55);
        --color-background: rgb(42, 44, 43);
        --color-foreground: rgb(242, 245, 248);
    }

    .elevated {
        box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.2);   /* slight black */
        filter: brightness(125%) contrast(90%);
    }
}

* {
    background: var(--color-background);
    color: var(--color-foreground);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-primary);
}
