{% extends "base_email.html.j2" %}

{% block content-header %}Your email address has been restored to {{ user.email }}{% endblock %}

{% block content-body %}
    <p>
        The email address had previously been changed to something else but is now restored to the
        old address {{ user.email }}.
    </p>
{% endblock %}
